@import url("./home.css");
@import url("./todo-page.css");
@import url('./new-task.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300; /*zasto ne radi u body?*/

}

body{
    max-width: 100%;
    font-family: "Raleway";
    /* font-weight: 300; */
}

input{
    all: unset;
    border: 1px solid  rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
}

button{
    background-color: rgba(6, 64, 43, 0.7);
    border: transparent;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Raleway";
    vertical-align: middle;
}

button:hover{
    background-color: rgba(6, 64, 43, 0.9);
}