.todo{
    width: 100%;
    background-image: url("../images/todo-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.todo-container{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 100px;
}

.task-container{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    display: flex;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h2{
        text-transform: uppercase;
        font-weight: 500;
    }
}

#task-table {
    width: 100%;
    gap:10px;
    border-collapse: collapse;
    border-spacing: 5px;

    th {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        border: 1px solid #ddd;
        font-weight: 500;
        text-transform: uppercase;
    }

    td{
        text-align: left;
        padding: 12px;
        border: 1px solid #ddd;
    }
}

.table-btns{
    width: 100%;
    justify-content: flex-end;
    display: flex;
    gap: 20px;

    button{
        max-width: 200px;
    }
}

#actions-cell{
    display: flex;
    gap: 10px;
}